.env

vcpkg/
vcpkg_installed/
/x64-linux/

build/
/build/
.cache
.cache/

data/
/db/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json

.vscode/
.idea/
*.suo
*.user
*.user.*
*.sln.docstates

*.exe
*.out
*.so
*.dll
*.a
*.lib
*.o
*.obj

.DS_Store
Thumbs.db
Desktop.ini

*.log
*.tmp
*.swp
